body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  background-color: #ffd600;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
select {
  border: 0px;
  border-radius: 5px;
  font-size: calc(5px + 2vmin);
  padding: 3px;
}

.link {
  font-size: 12px;
}

.form {
  background-color: #90bdff;
  border-radius: 5px;
}

.stock-alert {
  border-left: 5px solid #d93838;
}

.product-div {
  border-radius: 5px;
  box-shadow: 3px 3px 0.4em rgb(112, 112, 112);
  padding: 1%;
  align-items: center;
}

.product-div:hover {
  background-color: #ffd600;
}

.validator {
  background-color: #23b95a;
  border-radius: 5px;
  padding: 5px;
}

.validator:hover {
  box-shadow: 3px 3px 0.4em rgb(126, 125, 125);
}
